.superlabel {
    display:block;
    float:left;
    background: #EFEFEF;
    font-style: normal;
    border-radius:50px;
    cursor:pointer;
    margin-right:7px;
    border: 1px #DEDEDE solid;
    margin-top: 0.3em;
    position: relative;
    color:#666;
}

.superlabel .item_label {
    padding:  0 3px;
    font-size: 0.8em;
    line-height: 1.2em;
    height: 1.5em;
}

.superlabel.completed,
.superlabel.could-not-reproduce {
  color:#06A2D6;
  background: #a7e7fc;
}

.superlabel.tested,
.superlabel.fixed {
  color:#53914c;
  background: #b2ebab;
}

.superlabel.urgent,
.superlabel.reopen {
  color:#d62424;
  background: #ffbfbf;
}

.superlabel .list {
    cursor:default;
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 100;
    padding: 4px;
    border-radius: 5px;
    background: #EFEFEF;
    color: #666;
    border: 1px #DEDEDE solid;
}

.superlabel .list a {
    text-decoration: underline;
    cursor:pointer;
}

.superlabel .list li {
    line-height: 1.5em;
    white-space: nowrap;
}

.superlabel .list .hide_labels_list {
   color: red;
}

.superlabel .list .hide_labels_list:hover {
   color: #fff;
   background: red;
}

.superlabel .list .empty a {
   color: #aaa;
}

.superlabel .list .empty a:hover {
   color: #fff;
   background: #aaa;
}